#{extends 'homePageBar/teacherButton.html' /}
#{set title:'Home' /}
#{set teacherButtontitle:'考试系统老师个人主页' /}


<!-- <p>您的登录类型是： ${session.loginType}</p> -->
<p></p>
	<table class="table table-hover">
		<h5><strong>您的个人信息如下:</strong></h5>
		<thead>
			<tr>
				<!-- <th>产品</th>
				<th>付款日期</th> -->
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>您的登录类型是:</td>
				<td>
					#{if session.loginType == "0"}
					教师
					#{/if}
					#{if session.loginType == "1"}
					考生
					#{/if}
				</td>
			</tr>
			<tr>
				<td>id</td>
				<td>${teacher.id}</td>
			</tr>
			<tr>
				<td>name</td>
				<td>${teacher.name}</td>
			</tr>
			<tr>
				<td>age</td>
				<td>${teacher.age}</td>
			</tr>
			<tr>
				<td>username</td>
				<td>${teacher.username}</td>
			</tr>
			<tr>
				<td><a href="/TeacherController/editTeacher?id=${teacher.id}">编辑个人信息</a></td>
				<td><a href="#">刷新</a></td>
			</tr>
		</tbody>
	</table>