#{extends 'main.html' /}
#{set title:'Home' /}

<nav class="navbar navbar-inverse" role="navigation">
	<div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">#{get 'teacherButtontitle' /}</a>
    </div>
    <div>
        <ul class="nav navbar-nav">
        	<li class="active"><a href="/SubjectController/showAllSubjects">科目管理</a></li>
            <li class="active"><a href="/QuestionController/showAllQuestions">题库管理</a></li>
            <li class="active"><a href="/PaperController/showAllpapers">试卷管理</a></li>
            <li class="active"><a href="/TestRecordController/showAllTestRecord">考试管理</a></li>
            <li class="active"><a href="/MarkingController/go2MarkingListPage">考试阅卷</a></li>
            <li class="active"><a href="/LoginController/logOut">退出登录</a></li>
        </ul>
    </div>
	</div>
</nav>

 #{doLayout /}