#{extends 'homePageBar/teacherButton.html' /}
#{set teacherButtontitle:'试题管理页面' /}

<table class="table table-hover">
	<a href="/teacher/question/addSubject.html" class="btn btn-success">添加</a>
	<thead>
		<tr>
			<th>试题内容</th>
			<th>试题答案</th>
			<th>试题类型</th>
			<th>试题科目</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>
		#{list items:questionListPageVO.questions, as:'question'}
			<tr>
				<td>${question.content}</td>
				<td>${question.answer}</td>
				<td>
					#{if question.type == 0} 单选题  #{/if}
					#{if question.type == 1} 多选题 #{/if}
					#{if question.type == 2} 填空题  #{/if}
					#{if question.type == 3} 问答题  #{/if}
				</td>
				<td>
				#{list items: subjects, as:'subject'}
					#{if question.subject_id == subject.id}
						${subject.title}
					#{/if}
				#{/list}		
				</td>
				<td>
					<a class="btn btn-default" href="/teacher/question/editSubject.html?id=${question.id}" role="button">修改</a>
					<a class="btn btn-default" href="/teacher/question/deleteSubjectAction?id=${question.id}" role="button">删除</a>
				</td>
			</tr>
		#{/list}
	</tbody>
</table>

<ul class="pagination">
    <li><a href="/teacher/question/previousPage?currentPage=${questionListPageVO.currentPage}">&laquo;</a></li>
  				   %{
                        for(int i=0;i < questionListPageVO.totalPage; i++){
                    }%  
                        <li><a href="/teacher/question/selectPage?selectPage=${i+1}">&nbsp;${i+1}&nbsp;</a></li>
                    %{
                        }
                    }%
    <li><a href="/teacher/question/nextPage?currentPage=${questionListPageVO.currentPage}">&raquo;</a></li>
</ul>
                