#{extends 'main.html' /}
#{set title:'Home' /}

<nav class="navbar navbar-inverse" role="navigation">
	<div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">#{get 'studentButtontitle' /}</a>
    </div>
    <div>
        <ul class="nav navbar-nav">
        	<li class="active"><a href="/StudentTestController/go2TestListPage?student_id=${session.student_id}">参加考试</a></li>
            <li class="active"><a href="/StudentTestController/goDoneTestPage?student_id=${session.student_id}">查看考试</a></li>
            <li class="active"><a href="/logout">退出登录</a></li>
        </ul>
    </div>
	</div>
</nav>

 #{doLayout /}