#{extends 'main.html' /}
#{set title:'Home' /}

<nav class="navbar navbar-inverse" role="navigation">
	<div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">#{get 'teacherButtontitle' /}</a>
    </div>
    <div>
        <ul class="nav navbar-nav">
        	<li class="active"><a href="/teacher/subject/subjectList.html">科目管理</a></li>
            <li class="active"><a href="/teacher/question/questionList.html">题库管理</a></li>
            <li class="active"><a href="/teacher/paper/paperList.html">试卷管理</a></li>
            <li class="active"><a href="/teacher/test/testList.html">考试管理</a></li>
            <li class="active"><a href="/teacher/mark/markList.html">考试阅卷</a></li>
            <li class="active"><a href="/logout">退出登录</a></li>
        </ul>
    </div>
	</div>
</nav>

 #{doLayout /}