#{extends 'main.html' /}
#{set title:'Home' /}

#{if message != null}
	<h2>${message}<h2>
#{/if}

<!-- #{if session.username != null}
	username is : ${session.username}
#{/ if} -->
<br/><br/>
<form action="/LoginController/login" method="post">
<fieldset >
	loginType:<br/><br/>
	<fieldset>
	<input type="radio" name="loginType" value="0"> teacher &nbsp;&nbsp;
	<input type="radio" name="loginType" value="1"> student 
	</fieldset>
	<br><br/>
	
	username:<br><br>
	<input type="text" name="username">
	<br><br/>
	
	password:<br><br>
	<input type="password" name="password" >
	<br><br>
	<input type="submit" name="登录" value="Submit">
</fieldset>
</form> 